.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    padding: 12px 16px;
    width: 350px;
}

.tw-followCard:hover {
    background: #bbbbbb10;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-username {
    opacity: .6;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3 ease background-color;
}

.tw-followCard-button.is-following {
    border: 1px solid red;
    width: 120px;
    padding: 6px 10px;
}
.tw-followCard-button-stopFollowing {
    display: none;
}

.tw-followCard-button:hover {
    background-color: #bbb;
}

.tw-followCard-button.is-following:hover {
    background: rgba(255, 0, 0, 0.103);
    color: red;
}
.tw-followCard-button.is-following:hover .tw-followCard-button-text {
    display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-button-stopFollowing {
    display: block;
}


